<div class="main-header">
  <div class="right-header">
    <ul class="lists-right">
      <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="contents">

  <div class="content">
    <div class="ask-content">
      <div class="subtitle">
        新規相談リスト
      </div>
    </div>
    <div class="ask-info">
      <%= render partial: 'question', collection: @questions %>
    </div>
  </div>

  <%# 仮置き %>
  <div class="content">
    <div class="ask-content">
      <div class="subtitle">
        新規情報リスト
      </div>
    </div>
    <div class="ask-info">
      <%= render partial: 'blogs/blog', collection: @blogs %>
    </div>
  </div>
  <%# /仮置き %>

</div>  

<div class="main-footer">
  <p class="copyright">
    Copyright einander 2021
  </p>
</div>