<div class="ask-detail">
  <div class="ask-title">
    <%= @question.title %>
  </div>
  <div class="ask-category">
    <%= @question.category.name %>
  </div>
  <div class="ask-content">
    <%= @question.content %>
  </div>
  <div class="ask-user">
    <%= @question.user.nickname %>
  </div>
  <div class="ask-date">
    <%= l @question.created_at %>
  </div>
</div>

<% if user_signed_in? %>
  <% if current_user.id == @question.user_id %>
    <%= link_to "編集する", edit_question_path(@question.id), method: :get, class: "question-btn" %>
    <%= link_to "削除する", question_path(@question.id), method: :delete, class:"question-destroy" %>
  <% else %>
    <%= form_with(model: [@question, @suggestion], class:"question-btn", local: true) do |form| %>
      <%= form.text_area :content, placeholder: "アドバイスする", rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  <% end %>
<% end %>