<div class="m-header">
  <div class="header-contents">
    <div class="l-lists">
      <%= link_to image_tag("einander_logo.png",size: '80x40', class:"small-icon"), root_path %>
    </div>
    <div class="r-contents">
      <ul class="r-lists">
        <% if user_signed_in? %>
            <li><%= image_tag("user_icon.png", size: '20x20', class:"user-icon") %></li>
            <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path, class: "login" %></li>
          <li><%= link_to 'Sign up', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="content">
  <div class="ask-content">
    <div class="subtitle">
      New Questions
    </div>
  </div>
  <div class="ask-info">
    <%= render partial: '/questions/question', collection: @questions %>
  </div>
</div>